.DS_Store
.env
.git
.github
.tmp
.tmp-playwright
.trae
**/.DS_Store
**/.pytest_cache
**/__pycache__
**/dist
**/node_modules
backend/.venv
chroma_data
original
video
*.db
*.gif
*.jpeg
*.jpg
*.png
*.webp
